<div class="RegNumbers">
    <div class="box1">
        <h1 class="center" style="margin-top:0px">Registration Numbers</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/settings" method="POST">
                <div class="center" style="width:200px;">
                   <div style="color:white; margin-bottom:10px;font-size:20px;padding:5px"> Enter Registration Number:</div>
                    <input class="textArea" type="string" maxlength=10 name="regnum" placeholder="eg. CA 768 987"style="margin-bottom:10px">
                    <button class="button-primary addBtn" on type="submit" name="add">Add</button>
                    <button class="button-primary resetBtn" on value='reset' type="sumbit" name="reset" style="height:30px;width:70px; font-size:18px;">Reset</button>
                </div>
            </form>

            <form action="/filter" method="POST">
                <div class="center" style="width:200px;margin-top:20px;color: whitesmoke">
                    
                    <select id="townDrop" name="townDropDown" style="margin-bottom:55px">
                        <option value="">Show All</option>
                        <option value="CA">Cape Town</option>
                        <option value="CY">Bellville</option>
                        <option value="CK">Malmesbury</option>
                    </select>
                    <button class="button-primary showBtn" type="submit" name="showReg" style="height:30px; margin-top: 20px">Show
                        Registration</button>
            </form>
        </div>


        <div class="center">
            <div class="Error">
                {{messages.error}}
            </div>

             <div class="Error2">
                {{messages.error2}}
            </div>
        </div>

        <div class="center">
            <strong>Registration Numbers:</strong>
            <ul>
                {{#each regNums}}
                <li>{{regnumber}}</li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>
</div>